{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8" />
    <title>選擇關卡</title>
    <link rel="stylesheet" href="{% static 'css/planet_select.css' %}">
</head>
<body>
    <img src="{% static 'img/ui/arrow.png' %}" id="leftArrow" class="arrow" alt="向左捲動" />
    <img src="{% static 'img/ui/arrow.png' %}" id="rightArrow" class="arrow" alt="向右捲動" />
    <button class="reset" id="resetButton">重置進度</button>

    <div class="wrapper">
        {% for chapter in chapters %}
            <a class="planet-hotspot {{ chapter.css_class }}"
               href="{% if chapter.is_unlocked %}{% url 'chapter_detail' chapter.chapter_id %}{% else %}#{% endif %}"
            >
                {% if not chapter.is_unlocked %}
                    <img src="{% static 'img/ui/lock.png' %}" class="lock" alt="鎖定" />
                {% endif %}

                <div class="tooltip">{{ chapter.title }}</div>
            </a>
        {% endfor %}
    </div>

    <script src="{% static 'js/planet_select.js' %}"></script>
</body>
</html>